<!doctype html>
<html lang="en">
<head>

    <%- include('pages/common/common-header'); %>
    <%- include('pages/common/common-request'); %>
    <%- include('pages/common/common-validate'); %>

    <%- include('pages/login/login-header'); %>

</head>

<body>

    <%- include('pages/common/common-body'); %>

    <%- include('pages/login/login-body'); %>
    <%- include('pages/login/login-footer'); %>

    <%- include('pages/common/common-footer'); %>

</body>
</html>