<!doctype html>
<html lang="en">
<head>

    <%- include('pages/common/common-header'); %>
    <%- include('pages/common/common-request'); %>
    <%- include('pages/common/common-validate'); %>
    
    <%- include('pages/scan/scan-header'); %>

</head>

<body>
    
    <%- include('pages/common/common-body'); %>

    <%- include('pages/scan/scan-body'); %>    
    <%- include('pages/scan/scan-footer'); %>

    <%- include('pages/common/common-footer'); %>
    <%- include('pages/common/common-login'); %>

</body>
</html>